body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    line-height: 1.6;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.left {
    width: 60%;
}

.right {
    width: 40%;
}

.subtitle {
    margin-top: 0;
    font-size: 18px;
    color: #666;
}

hr {
    margin: 30px 0;
}

.content section {
    margin-bottom: 25px;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
